/*CSS COMMUN*/
@font-face{
  font-family: "Supria";
  src: url("Supria.ttf");
}

body{
    color: black;
    margin: 0px;
}

h1{
  font-size: 60px;
  font-style: italic;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Supria', sans-serif;
  float: right;
}

h2{
  font-size: 30px;
  font-style: italic;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Supria', sans-serif;
}

/*DIVISION ENTETE*/
.entete{
  background-color: #E5E54A;
  color: #4A4A4A;
}

#pp{
  background-color: #4A4A4A;
  width: 30%;
  border: 1px solid #E5E54A;
  padding: 3px;
  margin: 5px;
  border-radius: 3000px;
}

#infosEnt{
  float: right;
  margin: 50px;
}

/*DIVISION INFOS*/
#line{
  height: 100%;
}

.infos{
  border-radius: 50px;
  color: white;
  background-color: #4D4D4D;
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
}

.infos p{
  padding: 8px;
}

/*DIVISION CONTENU*/
.contenu{
  background-color: #E5E5E5;
}

h3{
  font-size: 30px;
  font-style: italic;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Supria', sans-serif;
  background-color: #E5E54A;
  color: #4A4A4A;
}

li{
  color: #4A4A4A;
  list-style: none;
  font-weight: bold;
}

td{
  color: #4A4A4A;
  font-weight: bold;
}

#con1{
  text-align: center;
  background-color: white;
  width: 50px;
}

#cont2{
  background-color: white;
}

#con1,#cont2{
  width: 50px;
  display: inline-block;
  height: 50px;
  margin-top: 23%;
}

#cont1 h4{
  color: #FF0000;
}

/*DIVISION FOOTER*/
footer{
	text-align: center;
}

#link_footer{
  text-decoration: none;
  color: black;
}

#link_footer:hover{
  color: #4CAF50;
  font-weight: bold;
}
